{% extends 'layouts/main.html' %}
{% block title %}{{ artist.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ artist.name }}
		</h1>
		<p class="subtitle">
			ID: {{ artist.id }}
		</p>
		<div class="genres">
			<span class="genre">{{ artist.genres }}</span>
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artist.phone %}{{ artist.phone }}{% else %}No Phone{% endif %}
        </p>
        <p>
			<i class="fas fa-link"></i> {% if artist.website %}<a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artist.facebook_link %}<a href="{{ artist.facebook_link }}" target="_blank">{{ artist.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
        </p>
		{% if artist.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artist.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ artist.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ upcomingshows|length }} Upcoming Shows</h2>
	<div class="row">
		{% for ushow in upcomingshows %}
			{% for indv in venue %}
			{% if ushow.venue_id == indv.id %}
			<div class="col-sm-4">
				<div class="tile tile-show">
					<img src="{{ indv.image_link }}" alt="Show Venue Image" />
					<h5><a href="/venues/{{ indv.id }}">{{ indv.name }}</a></h5>
					<h6>{{ ushow.start_time }}</h6>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ pastshows|length }} Past Shows</h2>
	<div class="row">
		{% for pshow in pastshows %}
			{% for indv in venue %}
			{% if pshow.venue_id == indv.id %}
			<div class="col-sm-4">
				<div class="tile tile-show">
					<img src="{{ indv.image_link }}" alt="Show Venue Image" />
					<h5><a href="/venues/{{ indv.id }}">{{ indv.name }}</a></h5>
					<h6>{{ pshow.start_time }}</h6>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</section>

{% endblock %}

